label > div{
    display:inline-block
}

.label {
    width: 100%;
    margin-left:5px;
    margin-right:5px;
}
.label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
.label > input + div{ /* DIV STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
.label > input:checked + div{ /* (RADIO CHECKED) DIV STYLES */
    color: rgb(3, 127, 229);
}

@media (max-width: 820px) {
    /* styles to apply when screen size is 1100px or less */
    .container {
      display: flex;
      flex-direction: column;
    }
}

.all{
    color:white
}

.active{
    color:white
}

.complete{
    color:white
}