.close:hover {
    cursor: pointer;
  }

.label{
    cursor:move;
    margin-left: 15px;
}

.over{
    border: 3px dotted #666;

}

hr{
    position: relative;
    left: -20px;
    width: calc(100% + 38px)
}

li{
    list-style: none;
}

.container{
    min-width: 250px;
    width: 50%;
    background-color: rgb(58, 56, 56);
    padding: 20px;
    font-size: larger;
    margin: auto;
    border-radius:5px;
}

.todo
{
    margin: 15px;
    display:flex;
    justify-content: space-between;
    color:white
}

.footerBar{
    display:flex;
    justify-content: space-between;
    color:white;
}

.note{
    margin-top:8px;
    text-align:center;
    color:rgb(3, 127, 229)
}