.image{
    position:absolute;
    z-index: -1;
    top:0;
    left:0;
    width: 100%;
}

body{
    margin:0;
    background-color: rgb(216, 209, 192)
}

header{
    margin: 50px auto 25px auto;
    width:50%;
    font-size: 40px;
    font-weight: bolder;
}